:root {
  --b: #fbf1c7;
  --b2: #bdae93;
  --f: #282828;
  --d: #d65d0e;
}

@media (prefers-color-scheme: dark) {
  :root {
    --b: #282828;
    --b2: #7c6f64;
    --f: #fbf1c7;
    --d: #fe8019;
  }
}

@media (max-width: 880px) {
  body {
    line-height: 1.5rem;
  }

  a {
    width: 100vw !important;
  }

  .anno>a {
    width: 100%;
    margin: 0.5rem !important;
    padding: 1rem !important;
  }
}

body {
  color: var(--f);
  background: var(--b);
  font-size: 16px;
  text-align: center;
  font-family: monospace;
  margin: 0;
}

h1 {
  padding-top: 5vh;
  font-size: 42px;
}

hr {
  width: 100%;
}

b {
  color: var(--d);
}

a {
  color: inherit;
  transition: 0.2s;
}

a:hover {
  scale: 1.05;
  background-color: var(--d);
  color: var(--f) !important;
}

.disclaimer {
  background-color: var(--b2);
  margin: 2%;
  padding: 1%;
}

.link-utili>a {
  color: var(--d);
  margin: 0 1%;
}

.anno {
  margin: 2%;
  display: flex;
  flex-wrap: wrap;
}

.anno>h2 {
  text-align: left;
  width: 100%;
}

.anno>a {
  margin: 1%;
  width: fit-content;
  color: var(--f);
  padding: 1%;
  border: solid 2px;
  text-decoration: none;
}

a.wip {
  color: var(--f);
  pointer-events: none;
  border: 0px;
  text-decoration: none;
}
